@{
    ViewBag.Title = "Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fullColumn">
    <div class="info">
        <div class="infoHeader">Accessing FRASS</div>
        <div class="infoText">
            The Forest Resource Analysis System Software (FRASS) is offered as a Software-as-a-Service (SaaS) Subscription service. When a client creates an account with us, it is locked from other user's access. Our Client's data are not shared with anyone else. Subscription Accounts can allow multiple Authorized Users to access property records and can even collaborate on the information used for Delivered Log Market Portfolios and Real Price Appreciation (RPA) Portfolios to apply to parcels and generate timber stand harvest scheduling solutions.
        </div>
        <div class="infoText" style="padding-top: 10px; padding-bottom: 10px;">
            The FRASS User does not need powerful computers with extensive RAM or storage space to access the FRASS software and combine the associated databases. Users need only a web browser with connection to the internet over a thin-client (or better). FRASS delivers the processing power, computer programs, data structure, and internet security to the benefit of the Users.
        </div>
        <div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
            <div style="padding: 5px; margin: 5px;">
                According to SAGE, key aspects of SaaS computing include the following:
                <ul>
                    <li>The software is not licensed or owned by the user, it's provided as a service over the Internet</li>
                    <li>Users subscribe to a complete turnkey package that includes software and the entire delivery mechanism</li>
                    <li>Users can access the system over the Internet regardless of their location</li>
                </ul>
            </div>
        </div>
        <div class="subInfo">
            <div class="infoText halfColumn">
                <div class="padding20Right">
                    When the User arrives at the FRASS site, and identity has been verified (two-factor verification), they rely on FRASS servers to generate access to property databases, economic data, computer programming algorithms, and report generators to initiate interactions leading to forestland property analysis results. Desktop and Smartphone Users alike can access FRASS from their office, or while in the field – as long as there is a stable internet connection.
                </div>
            </div>
            <div class="infoText halfColumn">
                Eliminating thick PC clients with software to be installed provides a huge initial savings as organizations need not purchase and install specific software on each PC. Ongoing maintenance costs are lower: we perform ongoing maintenance centrally without upgrading each User's machine. When an upgrade or update to the FRASS system is made, all users get those benefits immediately.
            </div>
            <div class="endrow"></div>
        </div>
        <div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
            <div style="padding: 5px; margin: 5px;">
                SaaS Applications have the capability to provide consumers the use of the provider's applications running on a cloud infrastructure. The applications are accessible from various client devices through either a thin client interface, such as a web browser (e.g., web based email), or a program interface. The consumer does not manage or control the underlying cloud infrastructure...
                <div style="float: right; padding-top: 5px;">
                    Source: National Institute of Standards and Technology (NIST)
                </div>
                <div class="endrow"></div>
            </div>
        </div>
        <div class="infoText" style="padding-top: 10px;">
            FRASS combines state-of-the-art technologies in web hosting, database administration, active server page programming, data encryption, secure socket layer protection, and data shielding on our servers and while it is being transmitted to Users. These are all united by programming to generate insights previously not seen or applied to forestland properties.
        </div>
        <div class="infoText" style="padding-top: 10px;">
            <img src="/Content/images/Access.png" style="float: left; margin-right: 10px;" />As a SaaS solution, the FRASS software, databases, and hardware are updated on our servers. The User does not need to install the updates, or worry about compatibility issues associated with host Operating System versions. The FRASS designed servers operate with several individual core processors, extremely high amount of processor RAM, and robust storage capabilities to ensure that data are retrieved and processed quickly, and reported to the User with very little latency from request-to-report.
            <div class="endrow"></div>
        </div>
    </div>
    <div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
        <div style="padding: 5px; margin: 5px;">
            Ziff Davis B2B reports SaaS "offers some unmatched benefits, including: scalability, ease of upgrade, (and) lower IT administration needs". The FRASS program came into the realm of computing accessibility under the SaaS profile to bring these opportunities to the forest management world.
        </div>
    </div>
</div>
<div class="info">
    <div class="block">
        <div class="blockHeader">
            FRASS Site Security Features
        </div>
        <div class="blockItem">
            <div class="infoText" style="padding-top: 10px;">
                We treat data security in its raw and post processing forms with high sensitivity. We collect confidential data to express results unique to each client's situation. We protect these data while on our servers and while they are in transit between our server bank and our client's authorized users. Some of these features include:
                <ul>
                    <li>
                        Transport Layer Security (TLS) ( Secure Socket Layer – https://); cryptographic protocols which are designed to provide communication security over the Internet
                    </li>
                    <li>
                        Two-Factor Authentication Access Protocols
                    </li>
                    <li>
                        Complex Password to enter the Subscription
                    </li>
                    <li>
                        User ID and Complex Password for each user to enter their Profile
                    </li>
                    <li>
                        Encrypted client confidential data within the databases
                    </li>
                    <li>
                        Data encryption between Viewer and Server
                    </li>
                    <li>
                        Active Virus protection
                    </li>
                    <li>
                        Session idle timer which disconnects the idle session user
                    </li>
                    <li>
                        Failed attempt monitor with automatic consequence (account is locked after a preset number of failed attempts)
                    </li>
                </ul>
                Other security features are a part of the FRASS system and maintained to keep our client's data secure and the program operational for all Subscription Users.
            </div>
        </div>
    </div>
</div>
<div class="info">
    <div class="block">
        <div class="blockHeader">
            Access to the FRASS Demonstration Site
        </div>
        <div class="blockItem">
            <div class="infoText" style="padding-top: 10px;">
                <img src="/Content/images/PackForest_Logo.png" style="float: left;" />We operate a FRASS Demonstration Site using forestlands from the University of Washington, School of Environmental and Forest Sciences' Pack Forest near Eatonville, Washington. This site covers 5 sections of land that we have divided into 10, 20, and 40 acre parcels for demonstration purposes. The parcels are owned by a collection of fictitious owners like Gifford Pinchot, Ralph Waldo Emerson, and Rexford Daubenmire. Other names are more contemporaneous but all were created to demonstrate how multiple owners with a single or multiple parcels are arranged in the FRASS program. It demonstrates how economic data are collected, and parcel/timber stand reports generated. We do not imply endorsement by the names of the living applied to ownership on this demonstration site, we mean it only as recognition of the people we reference.
            </div>
            <div class="infoText" style="padding-top: 10px;">
                This demonstration site uses actual land specific characteristics such as LiDAR generated digital elevation models, soil survey data, streams, riparian zones, threatened, endangered, and sensitive (TES) species habitat, public land survey system identifications, and specific road networks. Forest growth modeling was completed on forest timber stands mapped by the University of Washington within the Landscape Management System (LMS) program training materials. Forest growth was estimated using LMS and the Organon forest growth model for the current rotation and the subsequent rotations on each parcel.
            </div>
            <div class="infoText" style="padding-top: 10px;">
                Visitors interested in learning more about the FRASS Program can request access into the FRASS Demonstration site. We treat access into this site as if it were access to a client's subscription service. When you request access, you will be first given a site password to access the program to complete a short information request and agreement to the terms of use. When approved, you will be granted access into the DEMONSTRATION site. It is generally granted within a day (or less). You will be e-mailed a temporary password to the system unique to your account. As you log into the system the first time, you will be prompted to create your personal password for future program access. The temporary password is active for only 24 hours, and works for only one entry into the site. Your permanent password remains active until the account is closed.
				
            </div>
            <div class="infoText" style="padding-top: 10px;">
                There is no charge to enter the demonstration site.
            </div>
            <div class="infoText" style="padding-top: 10px;">
                To get started, send us an e-mail. We can start your exploration into the program now!
            </div>
            <div class="infoText" style="padding-top: 10px;">
                <strong>Forest Econometrics</strong><br />
                <a href="mailto:FRASS@Forest-Econometrics.com">FRASS@Forest-Econometrics.com</a><br />
                +1-509-592-7650<br />

            </div>
        </div>
    </div>
</div>