@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="columnLeft">
	<div class="info">
		<div class="infoHeader">Forest Resource Analysis System Software</div>
		<div class="infoText">
			Forest Resource Analysis System Software (FRASS) presents a reliable and efficient system for scheduling economically optimal forest management activities while articulating the value of timberland properties – one timber stand at a time. FRASS assembles tree growth data, combines it with detailed information about the parcel, and engages delivered log market data predictions to give financially optimal timber harvest rotation dates and values into the future.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			The entire focus in FRASS is shifted to a parcel with the existing land features of timber stands, roads, rivers, and other physical characteristics. FRASS applies spatially explicit virtual tools to highlight merchantability factors of timber species in concert with data on soil sensitivity, elevation, slope, riparian zone protection for riverine and bird species, zoning regulations, and critical infrastructure. An approach that makes the FRASS program unique is the way it is designed: variable land characteristics are combined with forest growth and yield data, and viewed against the background of economic data supported by complex mathematical calculations – all joined into a seamless ready-for-immediate-use package. Advanced and specific economic profiles (Real Price Appreciation) are applied to the markets where the forest products will be sold, while expenses for transportation, road maintenance, and reforestation are factored in for the current rotation, and all timber rotations into perpetuity. Timber price predictions are based on monthly updated market data to formulate optimal management decisions.  The program also allows for a better way to come up with the probable sales price of parcels based on timber production as the Highest and Best Use.
		</div>
		<div class="subInfo">
			<div class="infoText halfColumn">
				<div class="padding20Right">
					While all of this is valuable for the forestland manager to know and verify, it also serves the Land Appraiser to establish the property's Highest and Best Use value leading to an Income Capitalization Approach Value for the property.
				</div>
			</div>
			<div class="infoText halfColumn">
				Clients create subscriptions to access data and analysis tools within FRASS through confidential and secure access points. Client data are adapted to meet the needs of a secure and optimized database structure within FRASS. Customized resource maps are generated, timber stand photographs integrated, and report formats are optimized. When the FRASS program becomes operational, we will deliver a detailed training session to use FRASS for your organization.
			</div>
			<div class="endrow"></div>
		</div>
		<div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
			<div style="padding: 5px; margin: 5px;">
				<a href="http://www.inc.com/articles/201109/business-intelligence-software-for-small-business.html" target="_blank">Neil Raden</a>, analyst and consultant at <a href="http://www.hiredbrains.com/knowledge-center/white-papers.html" target="_blank">Hired Brains</a> said, "the 'users' of these tools are increasingly people who are one or even two generations younger than those of us who started this party. They will not tolerate the quality of the legacy tools. Their experience is not in enterprise software, it's the consumer web, where things are engaging and actually work ..." FRASS is one of these solutions. It is geared to move data into an operational status for people to make decisions and share it with co-workers, clients, and investors.
			</div>
		</div>
		<div class="infoText" style="padding-top: 10px;">
			Here you see two divisions of our company involved with FRASS design. At Forest Econometrics we update the economic databases, maintain the hardware and software of the program and optimize its programming and internet connectivity to authorized users. The programming has been accomplished with a highly secure data retrieval structure. Forest Econometrics is responsible for the econometric design of FRASS with the Real Price Appreciation component as one of the program's key features.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			Geospatial Resource Analysis division is where GIS spatial analysis and mapping for FRASS is accomplished. Some clients with extensive GIS capabilities can prepare their data independently for inclusion in FRASS databases. If needed, Geospatial Resource Analysis can manipulate our client's data and prepare them for optimal functionality in FRASS. GIS-based work can be split between a client and Geospatial Resource Analysis to give both faster response capabilities and to serve as a data verification tool. When a client's data is modified for use in FRASS, the GIS layers are delivered back to the Client.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			Read through this site to learn about your potential uses of FRASS for forestland management. As you do, you will see how the FRASS system can facilitate your data management efforts and provide an easy to understand and reliable to operate  approach to your property's management.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			<a href="http://www.nxtbook.com/nxtbooks/saf/forestrysource_201405/index.php#/12" target="_blank">May 2014 Issue of The Forestry Source - "Grounding a Vision: Timberlands, William E. Schlosser, and FRASS"</a>
		</div>
		<div class="infoText" style="padding-top: 10px;">
			<a href="https://www.youtube.com/channel/UCaGbkjkZ1U64wDc0G0A-RPA" target="_blank">Forest Econometrics YouTube Channel</a>
		</div>
		<div class="infoText" style="padding-top: 10px;">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLP45U3uPjVhNr-_JAF7yeTGK4r4JY0a1u" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="infoText">
			<a href="/Content/documents/FRASS_Flyer.pdf" target="_blank">Advertising Flyer</a>
		</div>
		<div class="infoText">
			<a href="/Shopping/Textbook">Order the Natural Resource Econometrics Textbook</a>
		</div>
	</div>
</div>
<div class="columnRight">
	<div class="imageBlock">
		<img src="@Url.Content("~/Content/images/home.png")" />
	</div>
	<div style="padding-top: 10px; font-weight: bold;">
		FRASS applies financial management insights unlike anything ever applied to timberland properties before.
	</div>
	<div style="padding-top: 10px;">
		<div style="margin-top: 35px; margin-left: 1px; margin-right: 10px; padding: 10px; border: solid 3px #ff9a52;">
			Interested viewers are invited to the FRASS demonstrations site to see the program in full operation.
			<br /><br />
			@Html.ActionLink("Click here", "Access") to request access
		</div>
	</div>
</div>
<div class="endrow"></div>
<div style="display: none;">
	@{
		var ict = 1;
		while (ict <= 57)
		{
			var ct = ict.ToString();
			if (ict <= 9)
			{
				ct = "0" + ct;
			}

			var ending = "Slide" + ct.ToString() + ".png";
			var url = "/Content/images/FRASS_Overview/" + ending;
			<a rel="Slide" href="@url"></a>
			ict++;
		}
	}
</div>
<script type="text/javascript">
	var $salmon = $("a[rel=Slide]").colorbox({ maxWidth: "800px", maxHeight: "600px" });
	$("a#openSlide").click(function (e) {
		e.preventDefault();
		$salmon.eq(0).click();
	});
</script>

