@{
    ViewBag.Title = "Portfolios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fullColumn">
    <div class="info">
        <div class="infoHeader">Portfolios</div>
        <div class="infoText">
            Forest Resource Analysis System Software (FRASS) Users create and manage unique Delivered Log Market Portfolios and Real Price Appreciation (RPA) Portfolios, each to be applied together to interpret parcel value and harvest scheduling. <strong>Delivered Log Market Portfolios</strong> detail current costs and prices associated with the area where the parcels are located. <strong>RPA Portfolios</strong> give predictions about the anticipated price trends for each sort. Powerful market assessment tools developed and implemented in FRASS enable Users to recognize market trends in each log sort and apply them to timber stands on the ownership.
        </div>
        <div class="subInfo">
            <div class="infoText halfColumn">
                <div class="padding20Right">
                    <img src="/Content/images/Portfolios.png" style="float: left; margin-right: 10px;" />
                </div>
            </div>
            <div class="infoText halfColumn">
                FRASS Subscribers can 'electronically share' <strong>Delivered Log Market portfolios</strong> and <strong>RPA portfolios</strong> with all other Subscription Users seamlessly in the FRASS program. These portfolios can be used, modified, and shared again.
                <div style="padding-top: 10px;">
                    We prepare and distribute a quarterly <strong>Forest Econometrics Bulletin</strong> for users within each FRASS subscription giving our insights and projections in the portfolios we create and share.
                </div>
                <div style="padding-top: 10px;">
                    Written reviews of portfolios created by our subscription clients are prepared on request.
                </div>
                <div style="padding-top: 10px;">
                    Portfolios can be applied to many land parcels, or created uniquely for individual parcels. Each User can create, and apply, as many Portfolios as desired.
                </div>
            </div>
            <div class="endrow"></div>
        </div>
        <div class="infoText">
            FRASS Users can share their Portfolios with other Subscription Users to collect edits, or broaden the benefits of the Market Portfolios created. When the Portfolio is shared, access by the target user(s) happens instantly. The sharing of market portfolios gives the organization using FRASS a synergistic tool for use in forest management decision making.
        </div>
    </div>
    <div class="info">
        <div class="block">
            <div class="blockHeader">
               Delivered Log Market Portfolio
            </div>
            <div class="blockItem">
                <div class="infoText" style="padding-bottom: 10px; ">
                    Each Delivered Log Market Portfolio includes:
                   <ul>
                       <li>Rate of Inflation</li>
                       <li>Discount Rate</li>
                       <li>Road Use Costs
                           <ul>
                               <li>Access Fees</li>
                               <li>Maintenance Fees for Timber Hauling based on distance from parcel to drop point</li>
                               <li>New Logging Road Construction Costs based on distance to nearest established road</li>
                           </ul>
                       </li>
                       <li>Reforestation Costs</li>
                       <li>Delivered Log Prices by species and sort</li>
                       <li>Logging Costs by species and sort
                           <ul>
                               <li>Ground skidding</li>
                               <li>Highlead</li>
                               <li>Helicopter</li>
                           </ul>
                       </li>
                       <li>Overhead & Administration Costs by species and sort</li>
                       <li>Profit & Risk rates by species and sort</li>
                    </ul>
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    Costs and prices for each sort can be individually set in the Delivered Log Market portfolios.
                </div>
            </div>
        </div>
        <div class="block">
            <div class="blockHeader">
                Real Price Appreciation Portfolios
            </div>
            <div class="blockItem">
                <div class="infoText" style="padding-bottom: 10px;">
                    As a part of the FRASS Price Projection process, FRASS Users can create Real Price Appreciation Portfolios to associate with their Delivered Log Market Portfolios. The Real Price Appreciation Portfolio brings price forecasting by the FRASS User into the realm of making financial projections about the future performance of delivered log prices in response to identifiable market conditions, not just inflation. History shows us that although inflation has been positive, causing a general increase in prices, delivered log prices from 1994 through 2010 were generally decreasing in REAL terms.
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    <img src="/Content/images/Portfolios2.png" style="float: right; margin-left: 10px;" />REAL prices are seen when inflation is removed from NOMINAL prices to see how a commodity has performed independent of inflation. When inflation is removed, prices change from NOMINAL prices to REAL or "constant prices". The accompanying chart shows REAL Douglas-fir 2 Sawmill delivered prices for the Puget Sound and Olympic Peninsula area from 1989 until March 2013 (<a href="http://www.risiinfo.com/risi-store/do/product/detail/log-lines.html">RISI LogLines</a>). The Commodity's prices were on a decreasing trend (in REAL terms) from its peak in 1994 until about 2009 when prices started to rebound. This decreasing trend is called a <strong>Real Price Devaluation</strong>. We have identified a price trend initiating about the middle of 2006, devaluing, then hitting a turning point after about the middle of 2009 signaling a turnaround called the "RPA Recovery Period""; a period when the devaluation cycle is turned into an appreciation cycle as the commodity’s price is recovered in Real Terms.
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    The Real Price Appreciation Portfolio is a fundamentally new and powerful approach to predicting delivered log market trends based on historic delivered log markets to create a price prediction horizon associated with a partially observable Markov-chain continuous-time with memory model, and its particular application for performing a “random walk” model in price forecasting.
                </div>
                <div class="infoText" style="margin-left: 20px; margin-right: 20px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
                    <div style="padding: 5px; margin: 5px;">
                        If the Real Price Appreciation effect is not applied to future delivered log market prices, the result is to assume that the current REAL price will continue into future projections without change (in REAL terms) – it would be a horizontal line into the future (before inflation is applied making it NOMINAL). Looking at the REAL price records shown here, it is obvious that no Real 'horizontal price lines' have been seen in this market in the past 25 years.
                    </div>
                </div>
                <div class="infoText" style="padding-top: 10px; padding-bottom: 10px; ">
                    The Delivered Log Market Portfolio and the RPA Portfolio, through their application to parcels, has substantial benefits to forestland owners and managers. When prices are rising in REAL terms, they are never rising indefinitely, and when they are dropping in REAL terms, they are never dropping indefinitely. There is always a peak to rising prices, and a trough to dropping prices. The RPA prescription used in FRASS gives the market planning team the ability to project future prices reliably. The impacts are seen when a timber stand is harvested either later than initially anticipated to take advantage of projected climbing prices – but not too late when prices start to drop. Or it might be seen as a timber harvest earlier than initially projected to head off a projected drop in prices.
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    Use of the RPA prescription is not a "crystal ball", but it does provide insights to harvest scheduling for the forestland management team. The FRASS program saves the User the task of calculating hundreds of prices from log market data and economic statistics that are updated weekly. FRASS Users can generate these predictions with confidence in their estimates.
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    When a property’s value is generated from these economic portfolios the assumptions are summarized and integrated into the parcel report. Viewers of the calculated property value and harvest timing solutions can see the assumptions integrated into the report – nothing is hidden.
                </div>
            </div>
        </div>
        <div class="block">
            <div class="blockHeader">
                Commodity Price Projections
            </div>
            <div class="blockItem" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="infoText" style="padding-bottom: 10px;">
                    <img src="/Content/images/Portfolios3.png" style="float: right; margin-left: 10px;" />As FRASS Subscribers enter estimates for costs and revenues with inflation, Real Price Appreciation effects, profit, and risk, the FRASS program will calculate future commodity price predictions. These predictions are viewed in tabular and graphic format. The chart shown here, for four western red alder sorts, begins with a 200 year price projection profile that can be adjusted to decreasing year terms in 5- year increments. Here it shows price per mbf estimates over the next 35 years in NOMINAL terms. It is fast, accurate, and graphically easy to understand. These estimates combine many factors set by the User and are generated on-demand as needed.
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    As trees grow into the future, the timber stand volumes, by species and sort, are matched with these sort prices to forecast future revenue.
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="block">
            <div class="blockHeader">
                Significant Benefits of the FRASS Economic Profile
            </div>
            <div class="blockItem">
                <div class="infoText" style="padding-bottom: 10px;">
                    <ul>
                        <li>FRASS Users compile relevant data into portfolios where they can be viewed and evaluated to generate value for every parcel in the Client’s Subscription.</li>
                        <li>FRASS compiles over 200 User-defined economic variables that are applied to each timber stand, on each parcel, to generate timber harvest events into perpetuity.</li>
                        <li>The FRASS program removes the need to manually compile mountains of data to generate fundamental findings of optimal timber harvest events and derived value. </li>
                        <li style="color: red; font-weight: bold;">FRASS IS MORE THAN A PARCEL VALUATION TOOL: FRASS IS A FORESTLAND RESOURCE MANAGEMENT APPARATUS.</li>
                    </ul>
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    With only fundamental instruction, the FRASS program gives Subscribers the power of insightful and strategic economic planning capabilities. What once took a team of resource economists weeks, even months, to determine, are delivered through FRASS on-demand. Due to the rapid response of the FRASS program and computing architecture designed for the program’s use, sensitivity analysis can be conducted fast.
                </div>
                <div class="infoText" style="padding-bottom: 10px; text-align: center;">
                    <img src="/Content/images/Portfolios4.png" style="margin-left: 10px;" />
                </div>
                <div class="infoText" style="padding-bottom: 10px;">
                    FRASS combines economic projection capabilities with the physical site characteristics. It delivers forest management timing decisions in light of economic projections to determine financially optimal management strategies. Optimal timber harvest solutions, when combined one timber stand at a time, result in the Highest and Best Use value solution for the property.
                </div>
                <div class="infoText" style="padding-bottom: 10px; text-align: center;">
                    <img src="/Content/images/Portfolios5.png" style="margin-left: 10px;" />
                </div>
            </div>
        </div>
    </div>
</div>
