@{
	ViewBag.Title = "Service";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fullColumn">
	<div class="info">
		<div class="infoHeader">Initiating</div>
		<div class="infoText">
			<img src="/Content/images/Service1.png" style="float: right; padding-left: 20px;" />The Forest Resource Analysis System Software (FRASS) is offered as a Software-as-a-Service (SaaS) Subscription service. When a client creates an account with us, it is locked from other user's access. Our Client's data are not shared with anyone else. Subscription Accounts can allow multiple Authorized Users to access property records and can even collaborate on the information used for Delivered Log Market Portfolios and Real Price Appreciation (RPA) Portfolios to apply to parcels and generate timber stand harvest scheduling solutions.
		</div>
		<div class="infoText" style="padding-top: 10px; padding-bottom: 10px;">
			When initializing the initial account, our Client enters three phases of the agreement:
			<ol>
				<li>Client Data Integration Agreement</li>
				<li>User Authorization Agreement</li>
				<li>Annual Subscription Agreement</li>
			</ol>
		</div>
		<div class="infoText">
			FRASS has been developed to integrate your data into a secure computer system through security enhanced internet connections. The FRASS program uses these data for generating the reports of interest to the Users.
		</div>
		<div class="endrow"></div>
		<div class="infoText" style="margin-left: 20px; margin-right: 20px; margin-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
			<div style="padding: 5px; margin: 5px;">
				We offer clients two levels of FRASS Services:
				<ol>
					<li>FRASS Economic Projection Service</li>
					<li>Full Parcel & Economics Integrated Service</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="info">
		<div class="block">
			<div class="blockHeader">
				FRASS Economic Projection Service
			</div>
			<div class="blockItem">
				<div class="infoText" style="padding-top: 10px;">
					<div class="infoText" style="padding-top: 10px;">
						<img src="/Content/images/Service2.png" style="float: right; padding-left: 10px;" />The 'Economic Projection Service' provides a client with the service of selected marketing area projections. These projections are made without a link to properties and deliver only predictions of sort prices in the market of choice. Both Delivered Log Market Portfolios and RPA Portfolios can be managed by the client. Clients subscribed to the <strong>FRASS Market Service</strong> receive a quarterly Forest Econometrics Bulletin detailing trends and cycles along with ‘price shocks’ and ‘random noise’ within price trend cycles. Clients can manage their own Market Portfolios, or share them with Forest Econometrics for input and advice while making market predictions.
					</div>
					<div class="infoText" style="padding-top: 10px;">
						The "<strong>"FRASS Economic Projection Service</strong>" - basic price structure - involves assembling the periodic price data for the product harvested from your forestlands. Price data may include monthly or quarterly delivered log prices: they may be associated with camprun log groups, or with specific species and sorts. We will work with you to assemble these data into secure and optimized database structures making them available for analysis and price forecasting needs. 
					</div>
					<div class="infoText" style="padding-top: 10px;">
						The services described for the "<strong>FRASS Economic Projection Service</strong>" are also available for the subscribers to the "<strong>Full Parcel & Economics Integrated Service</strong>" (discussed below). The biggest difference between these two structures is the inclusion of property data and harvest scheduling products. 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="info">
		<div class="block">
			<div class="blockHeader">
				Full Parcel & Economics Integrated Service
			</div>
			<div class="blockItem">
				<div class="infoText" style="padding-top: 10px;">
					Each Subscription agreement covers different topics of initiating and deploying the software service. If you have your GIS data prepared, the timber inventory processed through the timber growth model of choice, and all road network travel solutions determined, the initial “Client Data Integration Agreement” cost will be lower. Geospatial Resource Analysis staff can assist our client’s staff to identify the format needed for the data to be integrated.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					If, on the other hand, a substantial amount of GIS processing, GIS data acquisition or data creation is needed, Geospatial Resource Analysis can commit resources to generate them. The cost commitments are different between these two options. We will work with you to make sure your data are prepared for your subscription as we tailor our services to meet your needs.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					When Geospatial Resource Analysis acquires or generates new GIS data, we create metadata for the GIS files and deliver those GIS data layers to our client. Our clients will not only get the benefit of the GIS data we create, but they get those data made operational in their FRASS profile.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					As the FRASS service is made operational we will schedule program training with your organization. This training generally lasts for one training day and can host a few, dozen, or more learners. Each training session participant will receive a User’s Guide and participate in the tutorial to use the system.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					Subscriptions to the FRASS system are made in 12-month intervals. During each subscription our client can change individual User permission levels, and add or delete Users (within Subscription limits). Additional parcels can be added during the subscription period for a fee.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					When a timber stand is harvested, the system can be updated to advance the "next rotation" into the "current rotation" status. Those changes can be made in the system by authorized Users.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					<img src="/Content/images/Service3.png" style="float: right; padding-left: 10px;" />When core-data-level updates are needed, we will work with you to keep the subscription operational.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					The "<strong>Full Parcel & Economics Integrated Service</strong>" basic price structure is based on the size and distribution of the landownership of the client. Beyond the basic price structure, initial GIS data preparation and market data accumulation needs will influence the ultimate cost structure for the subscription. After each client’s initial subscription is commenced, annual subscription and maintenance fees will keep the system operating.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					If you are ready to discuss a FRASS subscription for your organization, please contact us. As we learn about your data needs and the scope of your desired profile we can prepare a cost estimate and put it in terms of a formal agreement.
				</div>
				<div class="infoText" style="padding-top: 10px;">
					<strong>Forest Econometrics</strong><br />
					<a href="mailto:FRASS@Forest-Econometrics.com">FRASS@Forest-Econometrics.com</a><br />
					+1-509-592-7650<br />

				</div>
			</div>
		</div>
	</div>
</div>