@{
    ViewBag.Title = "Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fullColumn">
        <div class="infoHeader">
                Time Value of Money
        </div>
<div class="info">
    <div class="block">
</div>
<div class="infoText" style="padding-bottom: 10px;">
	<img src="/Content/images/SFCwtr.png" style="float: right; margin-left: 10px;" />This concept lies at the core of the FRASS system approach. The data assembled in the program serve the purpose to seek the balance between the actual cost and the optimal price of timber as a major land component. Timber resource volume extrapolated into the future (Growth & Yield) is brought into cohesive synthesis with values of historic log markets. The entire volume/price architecture is supported by a “past-present-future” price interface to analyze prices without distortion of the “time factor” of money in order to find financially optimized timber harvest rotation lengths and their future and discounted values. 
</div>
    <div class="infoText" style="padding-bottom: 10px;">
		When all relevant property information is integrated into the program, your options become visually convincing when articulated in the following information packages:
				<ul>
					<li>Itemized cost forecasting for many phases of forestland management, timber harvesting, reforestation, and overhead & administration expenses;</li>
					<li>Delivered Log Market Real Price Appreciation Forecasting;
                    <ul>
                        <li>Tracking of Nominal Prices from historic prices in the log market,</li>
                        <li>Tracking of Real Prices using Nominal prices and inflation rate data,</li>
						<li>Real Price Appreciation forecasts by delivered log market sort and species groups,</li>
						<li>Intra-company sharing of Market & RPA Portfolios for editorial purposes,</li>
						<li>Review and comment, as requested, for RPA Portfolios,</li>
                    </ul>
                </li>
                <li>
                    Determination of financially optimal timber stand rotation lengths into perpetuity;
                    <ul>
                        <li>Timber volume by sort at each rotation’s scheduled harvest,</li>
                        <li>Timber value by sort,</li>
						<li>New road construction cost and timing,</li>
						<li>Timber stand value estimated for all analysis periods.</li>
                    </ul>
                </li>
                <li>
					Land Value Forecasting;
					<ul>
					<li>Income Capitalization Approach land value estimate,</li>
					<li>Soil Expectation Value / Bare Land Value for entire parcels,</li>
				</ul>
				</li>
                <li>
					Full parcel report generation;
					<ul>
					<li>Sensitivity analysis to parameter changes,</li>
					<li>Full Parcel Report for analysis purposes,</li>
					<li>Establishes full parcel characteristics and value at any point in time,</li>
				</ul>
				</li>
                <li>
					Extensive Assembly of Resource Data;
					<ul>
					<li>Maps for over 20 selected attribute themes of interest across the ownership,</li>
					<li>Physical site characteristic summaries for each parcel,</li>
					<li>GIS data,</li>
					<li>Interactive mapping applet of parcels,</li>
					<li>Joining of forest Growth & Yield data with GIS and economic data for parcel valuation purposes with optimal stand rotation timing solutions.</li>
				</ul>
				</li>
	</div>
		<div class="infoText" style="padding-top: 10px; padding-bottom: 10px; ">
			The FRASS program allows the creation of both Delivered Log Market Portfolios and Real Price Appreciation Portfolios within each User’s subscription account; these can be revisited at any time, modified, and shared with others in the subscription. Users can apply their portfolios to as many parcels as they wish, and when they are used to generate an “on-demand Full Parcel Value Report”, the assumptions used in the portfolios are summarized alongside the parcel value report.
        </div>
	</div>
</div>
		<div class="blockHeader">
            Comparisons with traditional forestland valuation methods
		</div>
			<div class="infoText" style="padding-top: 10px;">
			</div>
		<div class="infoText" style="padding-bottom: 10px;">
            A comparison between the FRASS approach and traditional methods of forest rotation timing analyses and derivative property value estimates has been conducted on six parcels, totaling about 240 acres and 34 discrete timber stands.
        </div>
<div class="info">
    <div class="block">
        <div class="blockHeader">
            Culmination of Mean Annual Increment
        </div>
    <div class="blockItem">
		<div class="infoText" style="padding-top: 10px;">
			The Culmination of Mean Annual Increment (CMAI) is a measure to identify the biologically optimal forest rotation length based solely on the forest’s growth response to site factors and inter-stand density factors. The Mean Annual Increment refers to the average tree growth within the forest stand each year.
		</div>
		<div class="infoText" style="padding-top: 10px;">
           This measurement has been used by practitioners looking specifically at the growth capacity of the forest with no meaningful consideration given to the value of the timber in the forest. The parcel test-group analyzed held an average 240 year Culmination of Mean Annual Increment (CMAI) defined as the point when the MAI equals the Periodic Annual Increment (PAI). The timber stand’s biological optimum rotation length will always be longer than the Financially Optimum Rotation Length due to the impact of the “time value” of money.
		</div>
			<div class="infoText" style="padding-top: 10px;">
			</div>
        <div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
            <div style="padding: 5px; margin: 5px;">
                <strong>Where these timber stands would be optimized using CMAI at an average 240 year rotation, the financially optimal timber stand rotations averaged 53 years – an average reduction of 187 years on each timber stand. Timber stand rotation lengths were reduced to about 22% of the CMAI.</strong>
                <div class="endrow"></div>
            </div>
        </div>
	</div>
	</div>
</div>
<div class="info">
    <div class="block">
        <div class="blockHeader">
            Financial Optimization Using Traditional Methods
        </div>
    <div class="blockItem">
		<div class="infoText" style="padding-top: 10px;">
			Financial optimization involves determining the future value of timber on each timber stand, with associated costs, and discounting the future values to present-day terms. Under the traditional forest valuation approach, each current timber stand would be analyzed to determine its financially optimal rotation length. The Faustmann Formula (Soil Expectation Value – SEV) would be applied to each future timber stand rotation based on specific site characteristics to give rotation lengths into perpetuity with an accompanying discounted value of the entire series.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			When using the traditional approach all prices are discounted to current day terms giving the appearance of a meaningful asset value. It does not view the current rotation length as influenced by all subsequent ones.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			We conducted the analysis under this approach to generate a net present value for 34 timber stands totaling $2.35 million in October 2013 terms using the traditional valuation approach as explained here. This approach is still used by analysts today.
		</div>
			<div class="infoText" style="padding-top: 10px;">
			</div>
	<div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
        <div style="padding: 5px; margin: 5px;">
            <strong>Keep reading to see why this approach also generates a sub-optimal solution.</strong>
            <div class="endrow"></div>
        </div>
	</div>
	</div>
	</div>
</div>
<div class="info">
    <div class="block">
        <div class="blockHeader">
            Financial Optimization Using the FRASS Approach
        </div>
    <div class="blockItem">
		<div class="infoText" style="padding-top: 10px;">
			FRASS views a timber stand rotation length as a significant variable when conducting financial optimization analysis. The value of each timber stand within the current rotation is found every 5 years for 200 years into the future. The next step makes another estimate from the same land resource with a regenerated timber stand, for an additional rotation to determine values every 5 years for another 200 years. The third stage is to make the SEV estimate for a series of regenerated timber stands into perpetuity (after the ‘next rotation’ is harvested).
		</div>
        <div class="infoText" style="padding-top: 10px;">
            <img src="/Content/images/Cover_Trees.png" style="float: left; margin-right: 10px;" />With each projection cycle, Real Price Appreciation forecasts are made for delivered log market prices by sort and logging costs with log trucking costs. Management costs are also projected into the future. 
				<div class="infoText" style="padding-top: 10px;">
					All future timber stand rotations are placed into a sequential quadratic programming optimization model, combining periodic value of the current rotation with that of the next rotation for the entire 200-year continuum, as if it were started ON the current rotation’s harvest date, and adding to it the value of the SEV estimate, as starting AFTER the second rotation’s harvest. 
				</div>
				<div class="infoText" style="padding-top: 10px;">
					The current rotation is fast-forwarded to the next 5-year period until all possible combinations of the next rotation and the SEV rotation have been exhausted. This analytically expansive process gets reproduced for each and every combination of rotations into perpetuity. Altogether, about 8,000 combinations are considered for each timber stand; per sort price projections, forest Growth & Yield projections by sort, logging cost and log trucking cost projections, reforestation, real price projections, inflation, and discounting to present value.
				</div>
            <div class="endrow"></div>
        </div>
		<div class="infoText" style="padding-top: 10px;">
           The process of this magnitude requires hundreds of thousands of calculations to be conducted on each timber stand - cycled through optimization models - to give you the best combination for each stand’s time interval for the current rotation, incorporating under its umbrella all combinations of the next rotation and all rotation length variations into perpetuity.
		</div>
		<div class="infoText" style="padding-top: 10px;">
           Getting back to the example of a traditionally accepted style of a parcel’s valuation and comparing it with the FRASS Approach, we come to the realization of a substantial difference in value:  in the first case (traditional method), the estimate is $2.35 million; in the second, through FRASS, the parcel value totals $2.78 million. The $430,000 difference represents an 18% improvement in total returns to the forestland owner. All parcels are valued higher with the FRASS approach - due to the application of global optimization methods - with some showing a value increase by as much as 29%.
		</div>
		<div class="infoText" style="padding-top: 10px;">
           Reviewed by both foresters and land appraisers, the FRASS Approach has been unanimously recognized as a truly insightful and profit maximizing solution for commercial timberlands. 
		</div>
			<div class="infoText" style="padding-top: 10px;">
			</div>
		<div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
				<div style="padding: 5px; margin: 5px;">
                As one forester remarked, “I always thought this was possible, but I did not have the tools to explain it to anyone else – not even to myself!”
				</div>
		</div>
	</div>
</div>
			<div class="infoText" style="padding-top: 10px;">
			</div>
		<div class="blockHeader">
            Opportunity Cost and Other Benefits
		</div>
<div class="info">
    <div class="block">
	</div>
		<div class="infoText" style="padding-bottom: 10px;">
            A comparison between the FRASS approach and traditional methods of forest rotation timing analyses and derivative property value estimates has been conducted on six parcels, totaling about 240 acres and 34 discrete timber stands.
        </div>
        <div class="infoText" style="padding-top: 10px;">
            <img src="/Content/images/WRC03.png" style="float: right; margin-left: 10px;" />Landowners are constantly being pulled apart - more than motivated to act - by too many and too often disconnected data.  We offer to organize for you the forestland parcel data into a single custom-designed package in a uniquely built software system. FRASS is a powerful state-of-the-art tool best aligned with the financially optimal balance between ‘cost’ and ‘value.’ FRASS can also be used to document an opportunity cost if you decide to take an alternative course to any financially optimal management activity. 
				<div class="infoText" style="padding-top: 10px;">
					The differential between the financially optimal forestland value and its value adjusted, say, for special wildlife habitat management may represent an opportunity cost of the alternative management solution. There may be other scenarios involved: apply your imagination to find the limits. Due to its incredible operational speed, the program makes immediate comparisons between available options and provides documented versions of an opportunity cost in terms of the revenue foregone due to modifications in timber harvest timing.
				</div>
            <div class="endrow"></div>
        </div>	
		<div class="infoText" style="padding-top: 10px;">
			You will find more insights within this sophisticated in design and intuitive in use software system, owing to the massive data accumulated, reliable analytical solutions through scenario comparisons, and ready-to-use documents generated in comprehensive PDF reports delivered on-demand.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			<strong>Contact us today to begin your FRASS Profile for your forestland properties!</strong>
		</div>
	</div>
</div>
	<div style="padding-top: 10px;">
        <div style="margin-top: 35px; margin-left: 1px; margin-right: 10px; padding: 10px; border: solid 3px #ff9a52;">
            Interested viewers are invited to the FRASS demonstrations site to see the program in full operation.
            <br /><br />
            <a href="/Home/Access">Click here</a> to request access
        </div>
	</div>
</div>
</div>
</div>