@{
	ViewBag.Title = "Users";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fullColumn">
	<div class="info">
		<div class="infoHeader">Users</div>
		<div class="infoText">
			The Forest Resource Analysis System Software (FRASS) serves several different potential user types. Each User may have different profile interests, but all share the basic desire for financial optimization of forestland resource management as the common denominator.
		</div>
		<div class="infoText" style="padding-top: 10px; padding-bottom: 10px;">
			<img src="/Content/images/Users.png" style="float: left; margin-right: 10px;" />The FRASS program leads users to advanced decision making processes based on all aspects of active forest management to support forest operational sustainability goals. These are enhanced by unique economic solutions to generate financially optimal timber harvest rotation lengths and land value. We use geospatial relationships through the entire land resource to explain various challenges to management while identifying opportunities for astute land management practices. Maps are generated in GIS as a visual tool to “contextualize” relationships between features. They graphically explain how features are spatially and temporally juxtaposed to develop a clear vision of new opportunities for the land resource over time.
		</div>
		<div class="infoText" style="padding-top: 10px;">
			While static maps display specific resource characteristics such as soils data, roads and rivers, or timber stand boundaries, FRASS also includes an interactive map applet to give users the ability to zoom to a high level of aerial imagery resolution (sub-meter).
		</div>
		<div class="infoText" style="padding-top: 10px; padding-bottom: 10px;">
			The FRASS program articulates delivered log market price trends to create future price predictions combined with growing timber volume by sort. Each system user can apply specific economic portfolios to their forest resource to mirror the economic realities of the forestland investment. <strong>Timber harvest timing for the current rotation is considered in context with the next rotation, and then each rotation into perpetuity to generate property value – one timber stand rotation at a time.</strong>
		</div>
		<div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; ">
			<div style="padding: 5px; margin: 5px;">
				Conceptually, this approach is understood by many specialists, but this is the first time financial and physical modeling has been made available to all subscribers. Running virtual scenarios to reflect changing conditions in economic markets, or in the physical land resource, in any conceivable combination, is effected quickly giving you results in minutes, not days, weeks, or months.
			</div>
		</div>
		<div class="infoText" style="padding-bottom: 10px;">
			<div class="infoText" style="padding-top: 10px; text-align: center;">
				<img src="/Content/images/HarvestRpt.png" alt="Harvest Timing and Value Report" width="750px;" />
			</div>
			<div class="infoText" style="padding-top: 10px;">
				Property reports are generated on-screen in nearly real-time (request to report - generally happens in less than 30 seconds). When circumstances look “right” to the User, a command can be issued to generate a “Full Parcel Report” that brings all of the data about the parcel together in an exportable PDF file:
				<ul>
					<li>Current property conditions</li>
					<li>Market model assumptions</li>
					<li>
						Predictions of future timber volumes and prices
						<ul>
							<li>Year of each predicted future harvest</li>
							<li>Volume by species and sort of future timber harvests</li>
						</ul>
					</li>
					<li>
						Complete Net Present Value
						<ul>
							<li>For each timber stand into perpetuity</li>
							<li>Combined for the parcel into perpetuity</li>
						</ul>
					</li>
					<li>Bare land value (Soil Expectation Value)</li>
					<li>All parcel maps in full page view</li>
					<li>Representative timber stand photographs associated with the parcel</li>
					<li>Source data for all reports given in the Full Parcel Report.</li>
				</ul>
			</div>
			<div class="infoText" style="padding-top: 10px; padding-bottom: 10px;">
				The Full Parcel Report is generated into a PDF document accessible to the User, at “My Reports”, where they are held for a week allowing the User to download them to a local machine. When the reports are prepared (generally less than 5 minutes), the User is notified by an e-mail of the report's completion. The reports are saved to the User's desktop and can be viewed, printed, electronically mailed to other Users, or passed on for related needs. Through modifying the economic portfolio's conditions, the User is able to conduct ‘sensitivity analyses' to see how changes to a single variable impact the ‘bottom line' of parcel value and harvest scheduling events.
			</div>
			<div class="infoText" style="padding-top: 10px; padding-bottom: 10px;">
				The Potential Users of FRASS include several different groups, all benefiting from the application's flexibility. Read through the ideas presented here and consider for yourself how use of the FRASS program will fit as a decision support system (DSS) within your organization.
			</div>
			<div class="infoText" style="padding-top: 10px; padding-bottom: 10px;">
				<strong>Some of the user groups we have worked with include:</strong>

				<ul>
					<li>Commercial Timberland Management Companies</li>
					<li>Non-Industrial Forestland Owners</li>
					<li>Consulting Foresters</li>
					<li>Federal, State, Tribal Forestland Managers</li>
					<li>Conservation Organizations</li>
					<li>Land Appraisers</li>
				</ul>
			</div>
		</div>
		<div class="info">
			<div class="block">
				<div class="blockHeader">
					Putting it into Context
				</div>
				<div class="blockItem">
					<div class="infoText" style="padding-top: 10px; padding-bottom: 10px; ">
						"Too much data" has become a barrier to management and optimal decision making. Advances in technology have responded to new challenges with creation of business intelligence tools leading to unprecedented democratization of information access and sharing. It is still a common occurrence for forestry decision makers to rely on beliefs rather than knowledge when managing forestland properties. FRASS comes as a contemporary Business Intelligence System bringing into focus the entire array of current forest management issues - in their temporal and spatial interrelated connections - and leading to financially optimal harvest timing solutions and an educated estimate of land value.
					</div>
					<div class="infoText" style="margin-left: 20px; margin-right: 20px; padding-top: 10px; border: solid 1px black; background-color: #cccccc; font-weight: bold; padding-bottom: 10px;">
						<div style="padding: 5px; margin: 5px;">
							A 1996 Gartner Group report pointed out that organizations must make decisions based on accurate, current information—not intuition or collective hunches. They reported that: "Data analysis, reporting, and query tools can help business users wade through a sea of data to synthesize valuable information from it—today these tools collectively fall into a category called 'Business Intelligence.'"
						</div>
					</div>
					<div class="infoText" style="padding-top: 10px;">
						Make FRASS a core component of your Business Intelligence tool-belt of analysis, reporting, and query tools leading to profitable forestland management.
					</div>
				</div>
			</div>
		</div>
	</div>
