<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
	<compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel xdt:Transform="Replace">
	<behaviors>
	  <serviceBehaviors>
		<behavior>
		  <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
		  <serviceMetadata httpGetEnabled="false"/>
		  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
		  <serviceDebug includeExceptionDetailInFaults="false"/>
		</behavior>
	  </serviceBehaviors>
	</behaviors>
	<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer xdt:Transform="Replace">
	<modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings xdt:Transform="Replace">
	<add name="FRASS.DAL.Properties.Settings.FRASSConnectionString" connectionString="Data Source=SERVIAK\SERVIAK;Initial Catalog=FRASS;Persist Security Info=True;User Id=Kamiak2011;Password=Kamiakin!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings  xdt:Transform="Replace">
    <add key="SMTP" value="mail.turbonet.com" />
    <add key="SMTPUserName" value="admin@Forest-Econometrics.com" />
    <add key="SMTPPassword" value="kT3Ay[KJY.R(b@U%*sAE" />
    <add key="SMTPCredentials" value="true" />
	<add key="ImagePath" value="E:\FRASS\"/>
	<add key="IconPath" value="C:\inetpub\wwwroot\FRASS\Images\"/>
  </appSettings>
</configuration>