<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="FRASS.DAL.Properties.Settings.FRASSConnectionString" connectionString="Data Source=JOHNOFFICE;Initial Catalog=FRASS;Persist Security Info=True;User Id=Kamiak2011;Password=Kamiakin!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SMTP" value="mail.turbonet.com"/>
    <add key="SMTPUserName" value="admin@Forest-Econometrics.com"/>
    <add key="SMTPPassword" value="kT3Ay[KJY.R(b@U%*sAE"/>
    <add key="SMTPCredentials" value="true"/>
    <add key="ImagePath" value="C:\Work\ResourceAnalysis\Files\FRASS\"/>
  </appSettings>
</configuration>