<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
	<add name="FRASS.DAL.Properties.Settings.FRASSConnectionString" connectionString="Data Source=SERVIAK\SERVIAK;Initial Catalog=FRASS;Persist Security Info=True;User Id=Kamiak2011;Password=Kamiakin!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings  xdt:Transform="Replace">
    <add key="SMTP" value="mail.turbonet.com" />
    <add key="SMTPUserName" value="admin@Forest-Econometrics.com" />
    <add key="SMTPPassword" value="kT3Ay[KJY.R(b@U%*sAE" />
    <add key="SMTPCredentials" value="true" />
	<add key="ImagePath" value="E:\FRASS\"/>

  </appSettings>
  <system.web  xdt:Transform="Replace">
	<authentication mode="Forms">
	  <forms timeout="60"></forms>
	</authentication>
	<sessionState mode="InProc" timeout="60"></sessionState>
	<httpRuntime maxRequestLength="32768" executionTimeout="600" />
	<compilation targetFramework="4.0" />
	<customErrors mode="Off">
	</customErrors>
	<httpHandlers>
	  <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
	</httpHandlers>
  </system.web>
  <system.webServer xdt:Transform="Replace">
	<validation validateIntegratedModeConfiguration="false"/>
	<handlers>
	  <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler"/>
	</handlers>
  </system.webServer>
</configuration>